body{
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

.content{
  position:fixed;
  bottom: 0%;
  /* position: -webkit-sticky;
  position: sticky;
  bottom: 0%; */
  text-align: right ;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

.content2{
  position: fixed;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.25);
  color: #f1f1f1;
  width: 35%;
  padding: 20px;
}


.titles{
    position: static;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}


/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%; 
  max-height: 100%;
  z-index: -1;
} */

.back1{
  background-size:auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("spaceBGgif.gif");
}


.back2{
    background: radial-gradient(circle at 0%, #333, #333 50%, #eee 75%, #333 75%);
    background-size:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:#f1f1f1; /*For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right,#500000 40%,#FFFFFF);*/
}
